In [1]:
import json
import pandas as pd

# Authors Data

### Reading in one line of authors.json:

In [2]:
with open("goodreads_book_authors.json") as f:
    line = f.readline()
    
data = json.loads(line)
data

{'average_rating': '3.98',
 'author_id': '604031',
 'text_reviews_count': '7',
 'name': 'Ronald J. Fields',
 'ratings_count': '49'}

# Create Function to extract important fields

In [3]:
def parse_fields(line):
    data = json.loads(line)
    return {
        "author_id": data["author_id"],
        "authors" : data['name']}

In [5]:
author_names = []

with open("goodreads_book_authors.json") as f:
    while True:
        line = f.readline()
        if not line:
            break
        fields = parse_fields(line)
        author_names.append(fields)

# Convert list of authors to a pandas dataframe

In [6]:
authors = pd.DataFrame.from_dict(author_names)

In [7]:
authors.head()

  author_id           authors
0    604031  Ronald J. Fields
1    626222     Anita Diamant
2     10333    Barbara Hambly
3      9212   Jennifer Weiner
4    149918     Nigel Pennick

In [8]:
authors.shape

(829529, 2)

In [10]:
authors['authors'].nunique()

825851

In [11]:
authors.to_csv('authors.csv')