In [1]:
import pandas as pd
import json

# Merging Books and Authors data

In [2]:
books = pd.read_csv('books.csv')

authors = pd.read_csv('authors.csv')
authors = authors.drop('Unnamed: 0', axis=1)

In [3]:
books.head(2)

,book_id,isbn,author_id,publisher,title,genres,description,avg_rating,ratings_count,num_pages,pub_year,language_code,similar_books,url,cover_image
0,1333909,0743509986,626222.0,Simon & Schuster Audio,Good Harbor,"['to-read', 'fiction', 'currently-reading', 'c...","Anita Diamant's international bestseller ""The ...",3.23,10,0,2001.0,NaN,"['8709549', '17074050', '28937', '158816', '22...",https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...
1,7327624,NaN,10333.0,"Nelson Doubleday, Inc.","The Unschooled Wizard (Sun Wolf and Starhawk, ...","['to-read', 'fantasy', 'fiction', 'owned', 'ha...",Omnibus book club edition containing the Ladie...,4.03,140,600,1987.0,eng,"['19997', '828466', '1569323', '425389', '1176...",https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...

In [8]:
authors.head(2)

   author_id           authors
0     604031  Ronald J. Fields
1     626222     Anita Diamant

In [13]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115445 entries, 0 to 1115444
Data columns (total 15 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   book_id        1115445 non-null  int64
 1   isbn           760981 non-null   object
 2   author_id      1115445 non-null  int64
 3   publisher      863332 non-null   object
 4   title          1115442 non-null  object
 5   genres         1115445 non-null  object
 6   description    1115435 non-null  object
 7   avg_rating     1115445 non-null  float64
 8   ratings_count  1115445 non-null  int64
 9   num_pages      1115445 non-null  int64
 10  pub_year       896977 non-null   float64
 11  language_code  522531 non-null   object
 12  similar_books  1115445 non-null  object
 13  url            1115445 non-null  object
 14  cover_image    1115445 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 127.7+ MB

In [9]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829529 entries, 0 to 829528
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   author_id  829529 non-null  int64
 1   authors    829524 non-null  object
dtypes: int64(1), object(1)
memory usage: 12.7+ MB

In [12]:
books['author_id'] = books['author_id'].fillna(0).astype(int)

In [15]:
books_author = books.merge(authors, on='author_id', how='left')

In [16]:
books_author.columns

Index(['book_id', 'isbn', 'author_id', 'publisher', 'title', 'genres',
       'description', 'avg_rating', 'ratings_count', 'num_pages', 'pub_year',
       'language_code', 'similar_books', 'url', 'cover_image', 'authors'],
      dtype='object')

In [17]:
columns_list = ['book_id', 'isbn', 'author_id','authors','title','description', 'publisher', 'genres',
        'avg_rating', 'ratings_count', 'num_pages', 'pub_year',
       'language_code', 'similar_books', 'url', 'cover_image']

books_author = books_author[columns_list]
books_author.head(3)

,book_id,isbn,author_id,authors,title,description,publisher,genres,avg_rating,ratings_count,num_pages,pub_year,language_code,similar_books,url,cover_image
0,1333909,0743509986,626222,Anita Diamant,Good Harbor,"Anita Diamant's international bestseller ""The ...",Simon & Schuster Audio,"['to-read', 'fiction', 'currently-reading', 'c...",3.23,10,0,2001.0,NaN,"['8709549', '17074050', '28937', '158816', '22...",https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...
1,7327624,NaN,10333,Barbara Hambly,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Omnibus book club edition containing the Ladie...,"Nelson Doubleday, Inc.","['to-read', 'fantasy', 'fiction', 'owned', 'ha...",4.03,140,600,1987.0,eng,"['19997', '828466', '1569323', '425389', '1176...",https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...
2,6066819,0743294297,9212,Jennifer Weiner,Best Friends Forever,Addie Downs and Valerie Adler were eight when ...,Atria Books,"['to-read', 'chick-lit', 'currently-reading', ...",3.49,51184,368,2009.0,eng,"['6604176', '6054190', '2285777', '82641', '75...",https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...

In [21]:
books_author.to_csv('full_df.csv.bz2', compression='bz2', index=False)